---
import MainLayout from "../../layouts/MainLayout.astro";
import Navbar from "../../components/Navbar.astro";
---

<MainLayout title="Blog | Oguri-Zy">
  <Navbar />
  <main class="section">
    <div class="container">
      <h1 class="section-title">Blog</h1>
      <p class="section-desc">这里将放你的技术文章和分享。</p>
    </div>
  </main>
</MainLayout>