---
import MainLayout from "../../layouts/MainLayout.astro";
import Navbar from "../../components/Navbar.astro";
---

<MainLayout title="Resources | 你的名字">
  <Navbar />
  <main class="section">
    <div class="container">
      <h1 class="section-title">Resources</h1>
      <p class="section-desc">这里将放可下载的简历、资料包、公开资源链接。</p>
    </div>
  </main>
</MainLayout>