---
import MainLayout from "../../layouts/MainLayout.astro";
import Navbar from "../../components/Navbar.astro";
---

<MainLayout title="Projects | 你的名字">
  <Navbar />
  <main class="section">
    <div class="container">
      <h1 class="section-title">Projects</h1>
      <p class="section-desc">这里将展示你的代表性项目。</p>
    </div>
  </main>
</MainLayout>